@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.block {
  display: block !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.clearfix::after {
  clear: both !important;
  content: '' !important;
  display: table !important;
}

.center {
  text-align: center !important;
  vertical-align: middle !important;
}

.center,
.center-x {
  text-align: center !important;
}

.center,
.center-y {
  vertical-align: middle !important;
}

.clickable {
  cursor: pointer !important;
}

.clip {
  overflow: hidden !important;
}

.clip-x {
  overflow-x: hidden !important;
}

.clip-y {
  overflow-y: hidden !important;
}

.draggable {
  cursor: move !important;
}

.expand {
  height: 100% !important;
  width: 100% !important;
}

.expand-x {
  width: 100% !important;
}

.expand-y {
  height: 100% !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.inline {
  display: inline !important;
}

.invisible {
  visibility: hidden !important;
}

.ir {
  border: 0 !important;
  color: transparent !important;
  font: 0/0 a !important;
  text-shadow: none !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.pin,
.pin-bottom,
.pin-left,
.pin-right,
.pin-top {
  position: absolute !important;
}

.pin-bottom {
  bottom: 0 !important;
}

.pin-left {
  left: 0 !important;
}

.pin-right {
  right: 0 !important;
}

.pin-top {
  top: 0 !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.relative {
  position: relative !important;
}

.screen-reader {
  border: 0 !important;
  click: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.screen-reader:focusable:active,
.screen-reader:focusable:focus {
  clip: auto !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  position: static !important;
  width: auto !important;
}

.scroll {
  overflow: scroll !important;
}

.scroll-x {
  overflow-x: scroll !important;
}

.scroll-y {
  overflow-y: scroll !important;
}

.spin-right,
.spin-left {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.spin-left {
  animation-direction: reverse;
}

.visible {
  visibility: visible !important;
}
